{{define "LoginLink"}}
<a href="{{.URL}}" class="text-base/6 font-semibold text-gray-900 hover:text-indigo-600 transition-colors">
    {{.Text}} <span aria-hidden="true" class="ml-1">&rarr;</span>
</a>
{{end}}

{{define "AccountLink"}}
<a href="{{.URL}}" class="text-base/6 font-semibold text-gray-900 hover:text-indigo-600 transition-colors">
    {{.Text}}
</a>
{{end}}

{{define "DemoButton"}}
<a href="{{.URL}}" class="rounded-md bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-600 transition-colors">
    {{.Text}}
</a>
{{end}}
